@import 'libs/bootstrap-grid.min';
@import 'libs/bootstrap-reboot';
@import 'libs/magnific-popup';@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

@import 'base/mixins';
@import 'base/variables';


.container {
    width: 1000px;
    padding: 0;
    &_consultation {
        margin-top: 120px;
        display: flex;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    
}
.mgt60 {
    margin-top: 60px;
}
.mgt40 {
    margin-top: 40px;
    margin-bottom: 60px;
}
.mgt120 {
    margin-top: 120px;
}

@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/first';
@import 'blocks/program';
@import 'blocks/excursion';
@import 'blocks/consultation';
@import 'blocks/contacts';
@import 'blocks/credits';
@import 'blocks/dropdown';
