.dropdown_active {
    display: block;
    position: fixed;
    top: 100px;
}

.dropdown {
    display: none;
    min-height: 332px;
    width: 100%;
    padding: 34px 320px 80px 225px;
    color: #FFFF;
    z-index: 1;
    &_active {
        display: block;
    }
    &__row {
        display: flex;
    }
    &-column {
        display: flex;
        flex-direction: column;
        width: 50%;
        &__link {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            text-decoration: none;
            transition: all 0.7s;
            &:not(:first-child) {
                margin-top: 32px;
            }
            &:hover {
                position: relative;
                color: #FF891D;
                margin-left: 40px;
                &:before {
                    content: url(../../icons/arroworange.svg);
                    position: absolute;
                    left: -40px;
                }
            }
        }
    }
}
