.title {
    font-family: Montserrat Alternates;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #786670;

    &_first {
        font-family: Montserrat Alternates;
        font-size: 47px;
        line-height: 120%;
        color: #FFFFFF;
        span {
            @include gradient;
        }
        &__mobile {
            display: none;
        }
    }
    &_program {
        margin-top: 80px;
    }
    &_excursion {
        margin-top: 100px;
    }

}